@media (max-width: 2200px) {
  .match-making-Services {
    left: 20%;
  }
}

@media (max-width: 1600px) {
  .match-making-Services {
    left: 10%;
  }
}

/* At 1100px */

@media (max-width: 1100px) {
  .match-making-Services {
    left: 2%;
  }
  .start-living-section {
    width: 100%;
  }
  .nav_sec {
    justify-content: space-between;
  }
  .container {
    width: 100%;
    overflow-x: hidden;
  }
  .bottom-footer {
    width: 80rem;
  }
}

/* At 950px */

@media (max-width: 950px) {
  .info {
    grid-template-columns: repeat(2, 1fr);
  }
  .match-making-Services {
    left: 20%;
  }
  .lets-begin {
    grid-column: -3 / -1;
  }
  .lets-begin .btn {
    width: 100%;
  }
  .live-ing {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 2.4rem;
  }
  .live-img,
  .live-shaadi {
    width: 70%;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  /* .live-img img,
  .shaadi-live-logo img {
    /* width: 70%; */
  /* }  */
  .special-one {
    width: 70rem;
  }

  .image-header {
    margin: 8rem 0;
  }

  .gallery-wrap,
  .Popular-Matrimony-Sites,
  .Most-Popular-Matrimony-Apps,
  .bottom-Matrimonials,
  .about-more {
    width: 70rem;
  }
  .bottom-footer {
    justify-content: space-between;
  }
  .bottom-footer {
    width: 70rem;
  }
  .content1 {
    text-align: center;
  }
}

/* at 800px */

@media (max-width: 834px) {
  html {
    font-size: 9px;
  }
  .container {
    max-width: 100% !important;
    overflow-x: hidden !important;
  }
  .match-making-Services {
    left: 10%;
  }
  .gallery-wrap,
  .Popular-Matrimony-Sites,
  .Most-Popular-Matrimony-Apps,
  .bottom-Matrimonials,
  .about-more {
    width: 100%;
  }
  .bottom-inf0 {
    padding-left: 1.8rem;
  }
}

/* AT 650px */

@media (max-width: 650px) {
  html {
    font-size: 8px;
  }
  .live-ing {
    padding: 3rem 5rem 5rem 2rem;
  }
  .special-one {
    grid-template-columns: 1fr;
    gap: 2.4rem;
    width: 100%;
  }
  .image-header {
    font-size: 2.4rem;
  }
  .gallery-1-img .img-1,
  .gallery-1-img .img-2,
  .gallery-1-img .img-3,
  .gallery-2-img .img-4,
  .gallery-2-img .img-5,
  .gallery-2-img .img-6,
  .gallery-3-img .img-7,
  .gallery-3-img .img-8,
  .gallery-3-img .img-9,
  .gallery-4-img .img-10,
  .gallery-4-img .img-11,
  .gallery-4-img .img-12 {
    width: 53rem;
  }
}

/* AT 450px */

@media (max-width: 450px) {
  html {
    font-size: 7px;
  }
  .match-making-Services {
    left: 2%;
  }
  .matrimony-app-down {
    flex-direction: column;
  }
  .get-started-matrimony {
    justify-content: center;
  }

  .bottom-Matrimonials {
    width: 40rem;
  }

  .trusted-from {
    flex-direction: column;
  }

  .story-waiting {
    flex-direction: column;
  }
  .bottom-footer {
    flex-direction: column;
    width: 40rem;
  }
  .privacy {
    margin-left: -6rem;
  }
  .about-more {
    display: none;
  }
  .trust-head {
    margin-left: -9rem;
  }
  .Popular-community-apps {
    flex-direction: column;
  }
  .actual-sites {
    grid-template-columns: 1fr;
  }
  .millions-of-trusted-peoples {
    width: 50rem;
  }
}

@media (max-width: 300px) {
  .match-making-Services {
    left: 0%;
  }
  .special-one,
  .gallery-wrap,
  .Popular-Matrimony-Sites,
  .Most-Popular-Matrimony-Apps,
  .bottom-Matrimonials,
  .about-more {
    width: 40rem;
  }
  .actual-sites {
    grid-template-columns: 1fr;
  }
}
