html {
  font-size: 10px;
}
.top-band {
  width: 100rem;
  margin: 0 auto;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-text-story {
  color: #72727d;
}

.member-login {
  display: flex;
  gap: 1rem;
}

.success-login a,
.success-help a {
  font-size: 1.4rem;
  text-decoration: none;
  color: #72727d;
}

/* Navbar */

.navbar-story {
  background-color: #ff5a60;
  margin: 1rem 0 0 0;
  padding: 1.4rem 0;
}

.inside-nav {
  width: 100rem;
  margin: 0 auto;
}

.naav {
  display: flex;
  gap: 3.4rem;
  padding-left: 1.4rem;
}

.nav_link {
  font: bold 1.5rem arial;
  color: #fcdee0;
  text-decoration: none;
  letter-spacing: 1px;
}

.nav_link:first-child:hover {
  color: #000;
}

.common-research {
  display: flex;
  flex-direction: column;
  width: 15rem;
  background: #fff;
  gap: 0.6rem;
}

.inside-research {
  position: absolute;
  top: 13%;
  left: 25.5%;
  display: none;
}
.matches-research {
  position: absolute;
  top: 13%;
  left: 33.5%;
  display: none;
}
.inbox-research {
  position: absolute;
  top: 13%;
  left: 35%;
  display: none;
  width: 15rem;
}
.More-research {
  position: absolute;
  top: 13%;
  left: 43.5%;
  display: none;
}

.common-research a {
  font-size: 1.4rem;
  text-decoration: none;
  color: #72727d;
  line-height: 2;
  padding: 1.4rem;
  text-align: center;
}

.common-research a:hover {
  color: #00bcd5;
}

.inside-nav a:hover {
  color: #000;
}

/* Main Container Section */

.main-container {
  background-color: #f1f1f2;
  padding-top: 1.4rem;
}

.container-header {
  width: 100rem;
  margin: 0 auto;
}

.main-container-nav {
  background-color: #fff;
  padding: 1.4rem;
  border-bottom: 1px solid #00bcd5;
  border-radius: 4px;
}

.naav_link {
  color: #72727d;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
}

/* .naav_link:first-child {
 
} */

.naav_link:hover {
  color: #72727d;
  border-bottom: 2px solid #00bcd5;
}

.head {
  text-align: center;
  margin-top: 3.4rem;
}

.head h1 {
  font-size: 3.4rem;
  color: #7d7d7d;
}
.head h3 {
  font-size: 2.4rem;
  color: #7d7d7d;
}

/* Success Stories */

.success-Stories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  /* gap: 3.4rem; */
  margin-top: 3.4rem;
}

.ss-congratulations {
  background-color: #fff;
  padding: 3.4rem;
  border-radius: 5px;
}

.success-header h2 {
  font-size: 3.4rem;
  color: #7d7d7d;
  font-weight: 600;
}

.success-date {
  margin-bottom: 6.4rem;
}

.success-date span {
  font-size: 1.4rem;
  color: #7d7d7d;
}

.success-date span ion-icon {
  margin-right: 0.7em;
}

.success-img {
  text-align: center;
}

.success-img img {
  width: 50%;
  border-radius: 5px;
  background-color: #7d7d7d;
}

.success-content {
  padding: 1.4rem 0 3.4rem 0;
  border-bottom: 1px solid rgba(125, 125, 125, 0.5);
}

.success-content p,
.success-bottom-content p {
  font-size: 1.4rem;
  color: #7d7d7d;
  line-height: 1.5;
}

.success-bottom-content {
  margin-top: 1.4rem;
}

.own-pic-1 {
  margin-bottom: 3.4rem;
}
.own-pic-1 img,
.own-pic-2 img {
  width: 35rem;
  border-radius: 5px;
}

/* success-bottom-sec */

.success-bottom-sec {
  display: flex;
  align-items: center;
  gap: 6.4rem;
  margin: 1.4rem;
  padding: 0.7rem;
  border-top: 1px solid rgba(125, 125, 125, 0.4);
  border-bottom: 1px solid rgba(125, 125, 125, 0.4);
}

.success-company-info {
  display: flex;
  gap: 1.4rem;
}

.company-info p {
  font-size: 1.2rem;
  color: #7d7d7d;
}

.learn-more-info a {
  font-size: 1.4rem;
  color: #00bcd5;
  text-decoration: none;
}

.more-countries a {
  font-size: 1.2rem;
  color: #7d7d7d;
  text-decoration: none;
}

#NRI-matrimonials {
  font-size: 1.4rem;
  color: #00bcd5;
}

.more-countries ion-icon {
  color: #7d7d7d;
}

#NRI-matrimonials a:hover,
.learn-more-info a:hover {
  text-decoration: underline;
}

.secure-and-verifyable img {
  border-radius: 5px;
}

.secure-and-verifyable {
  text-align: center;
}

.help-us {
  background: rgba(125, 125, 125, 0.5);
  margin: 1.4rem 0;
  /* padding: 0.4rem; */
  text-align: center;
  border-radius: 3px;
}

.help-us a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #fff;
}

.help-us a:hover {
  text-decoration: underline;
}

/* succes-footer */

.succes-footer {
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-services,
.passionate-people-group {
  color: #7d7d7d;
  font-size: 1.1rem;
}

.prople-group a {
  color: #00bcd5;
  font-size: 1.4rem;
  text-decoration: none;
}

.prople-group a:hover {
  text-decoration: underline;
}

/* ****************************  */
/* ****** Videos Section ****** */
/* **************************** */

.video-section {
  background-color: #fff;
}

.videos iframe {
  width: 40rem;
  height: 22rem;
  margin-right: 1rem;
  padding: 4rem;
}

/* ********************** */
/* ** Your-success-story* */
/* ********************* */

.Your-success-story {
  background-color: #fff;
  padding: 3.4rem;
}

.team-info {
  font-size: 1.8rem;
  color: #7d7d7d;
}

body {
  color: #000;
  overflow-x: hidden;
  height: 100%;
  background-image: url("https://i.imgur.com/GMmCQHC.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.card {
  padding: 30px 40px;
  margin-top: 60px;
  margin-bottom: 60px;
  border: none !important;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
}
.blue-text {
  color: #00bcd4;
}
.form-control-label {
  margin-bottom: 0;
}
input,
textarea,
button {
  padding: 8px 15px;
  border-radius: 5px !important;
  margin: 5px 0px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-size: 18px !important;
  font-weight: 300;
}
input:focus,
textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #00bcd4;
  outline-width: 0;
  font-weight: 400;
}
.btn-block {
  text-transform: uppercase;
  font-size: 15px !important;
  font-weight: 400;
  height: 43px;
  cursor: pointer;
}
.btn-block:hover {
  color: #fff !important;
}
button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}

/* Media Queries */

@media (max-width: 1000px) {
  .top-band,
  .inside-nav,
  .container-header {
    width: 80rem;
  }
  .videos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
  }
  .videos iframe {
    margin: 0;
    padding: 1.4rem 0;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 9px;
  }
  .top-band,
  .inside-nav,
  .container-header {
    width: 60rem;
  }
  .success-Stories {
    grid-template-columns: 1fr;
  }
  .success-own-pic {
    display: flex;
    gap: 3.4rem;
    margin-top: 3.4rem;
  }
  .success-bottom-sec {
    flex-direction: column;
  }
  .member-login {
    display: none;
  }
}

@media (max-width: 690px) {
  html {
    font-size: 8px;
  }
  .success-own-pic {
    display: block;
  }
  .top-band,
  .inside-nav,
  .container-header {
    width: 50rem;
  }
  .navbar-story {
    display: none;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 7px;
  }
  .top-band,
  .inside-nav,
  .container-header {
    width: 40rem;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 6px;
  }
}
